@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Sofia');

@import url('https://fonts.googleapis.com/css?family=Poppins');
html{
  height: 100%
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
    height: 100%;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.label-danger{
  font-size: 100% !important;
}

.registeruser{
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: none;
  color: #267481;
}

.vs-section h2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 4rem;
  margin: auto;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.vs-section .container-fluid{
  height: 100%;
}
.vs-section:nth-of-type(1) {  }

.vs-section:nth-of-type(2) {  }

/*.vs-section:nth-of-type(3) { background-image: url('https://unsplash.it/1920/1276?image=503'); }

.vs-section:nth-of-type(4) { background-image: url('https://unsplash.it/1920/1276?image=403'); }

.vs-section:nth-of-type(5) { background-image: url('https://unsplash.it/1920/1276?image=203'); }*/

.vs-vertical-nav {
 position: fixed;
    z-index: 1;
    /* top: 50%; */
    right: -14%;
    bottom: 8%;
    display: block;
    -webkit-transform: translateY(-50%);hammerVS.on('swipeup', function() {   _this.next(); });
            hammerVS.on('swipedown', function() { _this.prev(); });
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: row;
    /* flex-direction: row; */
}

.vs-vertical-nav a {
  display: block;
  overflow: hidden;
  width: 50px;
  /* height: 40px; */
  white-space: nowrap;
  /* text-indent: 100%; */
  /* background: url('../images/cd-icon-arrow.svg') no-repeat center center; */
  cursor: pointer;
  /* font-family: social-gothic; */
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.6em;
  margin-right: 1em;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.vs-vertical-nav a.vs-prev {
  margin-bottom: 10px;
  /* -webkit-transform: rotate(-95deg); */
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  /* transform: rotate(180deg); */
}

a.vs-prev:before {
    content: "";
    background-color: #000;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
}

a.vs-next:before {
    content: "";
    background-color: #000;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
}

.movable_bg1{
  background-image: url('../images/bannerelements/movable1.png');
  background-size: 100%;
  background-repeat: repeat;
  -webkit-animation: bg-move 1000s ease-out infinite;
}

.movable_bgdokala{
  background-image: url('../images/bannerelements/dokala.png');
  background-size: 100%;
  background-repeat: repeat;
  -webkit-animation: bg-move 1000s ease-out infinite;
}
.movable_bg2{
  background-image: url('../images/bannerelements/movable2.png');
  background-size: 100%;
  background-repeat: repeat;
  -webkit-animation: bg-move 1000s ease-out infinite;
}
.movable_bg3{
  background-image: url('../images/bannerelements/movable3.png');
  background-size: 100%;
  background-repeat: repeat;
  -webkit-animation: bg-move 1000s ease-out infinite;
}

.movable_bg4{
  background-image: url('../images/bannerelements/movable4.png');
  background-size: 100%;
  background-repeat: repeat;
  -webkit-animation: bg-move 1000s ease-out infinite;
}


@-webkit-keyframes bg-move{
  /*0%   { background-position: 100% 2030px; }
  100% { background-position: -360% -500px; }*/
  from{
    background-position: 0 10000%;
  }
  to{
    background-position: 0 0;
  }
}
header{
  /*position: fixed;*/
  width: 100%;
      top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5215686274509804);
}
.homeheader{
  position: fixed;
}
.navbar{
  background:#fff;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-brand>img {
    display: block;
    max-width: 50%;
}
.navbar-brand{
  height: auto ;
      margin: 0;
          padding: 0px 15px;
    padding-top: 0px !important;
}
.navbar-right{
  margin-right: 15px;
  margin-top: 10px;
  text-align: right;
}
.no_padding{
  padding:0 !important;
}

.sweets{
/*  background-color: #db353a;*/
  background-color:#e81717;
}
.festival{
   background-color: #fba20e;
}
.dryfruit{
  background-color: #bd538a;
}
.namkeens{
  background-color:rgb(141, 184, 0);
}
.bites_chikki{
    background-color: #8A6B35;
}
.cookies{
 background-color: rgb(125, 6, 163);
}

.container-fluid .coloredsect{
  border-radius: 0 !important;

    padding: 0;
    padding-bottom: 35px;
    /*padding-left: 100px;*/
    /*height: 400px;*/
    /*height: 500px;*/
    height: 50vh;
    border-radius:0px;
    padding-top: 100px;
}
.coloredsect p{
  color: #fff;
      margin-bottom: 15px;
  font-size: 14px;
    margin-top: 20px;
        font-weight: 200;
}
.left_padding{
  padding-left: 300px;
}
.jumbo_title{
  color:#fff !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Great Vibes', cursive;
  /*font-size: 85px !important;*/
  font-size: 4em !important;/*4.313em !important;*/
  margin-bottom: 0;
}
/*span.sweet_divider {
    display: block;
    height: 2px;
    background: #fff;
    width: 50%;
    margin: 0 auto;
}*/
.sweet_divider img{
  max-width: 25%;
}
/*.slider_btn {
    display: inline-block;
    padding: 10px 50px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    transform: skew(-23deg);
}
.slider_btn span{
      transform: skew(23deg);
}*/

.slider_btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  position: relative;
  padding: 0.5em 3em;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff !important;
  margin-top:10px;
}
.slider_btn:before {
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.slider_btn:after {
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.slider_btn:hover:before,
.slider_btn:hover:after {
  width: 100%;
  height: 100%;
}


.navbar-nav>li {
    padding: 0px 10px;
}
.navbar-nav>li>a {
    padding: 15px 0;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}
.navbar-nav>li.active>a{
  border-color:#fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    /* text-decoration: none; */
    /* background-color: transparent; */
    /* border-bottom: 2px solid; */
    background: none;
}

.biscuit_block{
  display: inline-block;
  /*margin-top:0px;*/
  margin-top: 20px;
}
.biscuit_block img{
  /*max-width: 70%;*/
  max-width: 85%;
}
.know_more{
  background: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}
.know_more:hover{
  text-decoration: none;
}
.homeheader nav{
  background: transparent;

}
.homeheader .navbar-nav>li>a{color: #fff !important;}
.homeheader li.active a {
    border-bottom: 2px solid #db353a !important;
}
.homeheader .navbar-nav>li>a:hover{
      border-bottom: 2px solid #db353a;
}
li.icon_links .fa{
font-size: 18px;
}
/*menu css*/

.homefooter{
    background: #000;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.homefooter a {
  color: #fff !important;
  text-decoration: none !important;
}
li.icon_links {
    padding: 0 4px;
}
.icon_links a{
  font-size: 20px;

  width: 44px;
  height: 44px;
  text-align: center;
  display: inline-block !important;
  padding: 0 !important;
  line-height: 55px !important;
  border-radius: 50px !important;
}


/* Media queries of Normal Desktops
----------------------------------------------**/

@media  screen and (max-width: 1600px) {
  .jumbotron{
    height: 420px !important;
  }
  .biscuit_block{
    margin-top:5px !important;
  }
  .biscuit_block img {
    max-width: 70%;
  }
}

/*product page design css*/
.innerheader{
     /*position: fixed;*/
     position: relative;
     width: 100%;
     z-index: 99;
     background: #fff;
     height: 172px;
}
.productsection{
position: relative;
/*padding-top: 170px;*/
}

.productsheader{
background-color: #f79633;
-webkit-box-shadow: 0 1px 5px 0 rgba(220,52,60,.62);
-moz-box-shadow: 0 1px 5px 0 rgba(220,52,60,.62);
box-shadow: 0 1px 5px 0 rgba(220,52,60,.62);
padding: 10px 0px;
}
.subheaderproductpage{
float: none;
margin: 0 auto;
display: table;
}
.subheaderproductpage .active a{color: #f9f7f7;background: #db353a;}
.subheaderproductpage li{
  float: left;
  padding: 0px 10px;
}
.subheaderproductpage>li>a {padding: 11px 6px;color: #fff;text-transform: uppercase;letter-spacing: 1px;font-weight: 500;font-size: 12px;text-decoration: none !important;border-bottom: 2px solid transparent;/* letter-spacing: 1px; */}
.dropdown-menu>li>a{
padding: 12px 20px;
width: 160px;
}

.subheaderproductpage li:hover > ul.dropdown-menu {
    display: block;
    border-radius: 0px;
}
span.order{
 position: absolute;
left: 0;
right: 0;
opacity: 0;
top: 0;
text-align: center;
-webkit-transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-o-transition: all 1s ease 0s;
transition: all 1s ease 0s;
  }

.product:hover > span.order {
    top: 25%;
    opacity: 1;
        right: 26px;
}
.add_to_cart_button {
background-color: #f89633;
border-radius: 3px;
letter-spacing: 1px;
color: #fff !important;
display: inline-block;
/* font-family: 'Montserrat', sans-serif; */
font-size: 14px;
    padding: 10px 18px;
text-decoration: none !important;
text-transform: uppercase;
}
.detail-box h3{
color: #000;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    /*border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    margin-bottom: 12px;*/
}

/*.detail-box h3:after, .detail-box h3:before {
content: '';
background: url(../images/ribbon-title-left.svg) no-repeat;
display: block;
position: absolute;
top: -2px;
width: 50px;
height: 50px;
}
.detail-box h3:after {
    background: url(../images/ribbon-title-right.svg) no-repeat;
    right: -46px;
}*/
@media (min-width: 993px){
  .equal_inner{
  padding-top:3em;
}

.mgtop80{margin-top: 80px;    margin-bottom: 25px;}
.imgshadow{box-shadow: 0px 4px 4px 6px #ddd;}
.equal_inner {
    padding-top: 7em;
    margin-bottom: 7em;
}
.detail-box h3:before {
    left: -40px;
}
.detail-box h3:after {
    right: -40px;
}
.detail-box h3:after,.detail-box h3:before {
    width: 53px;
    height: 50px;
}
.equal_innerdiv{
    height: 450px;
    padding: 0;
}

.equal_inner {
  height: 500px !important;
}
.product_caption h2{
      text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 3.513em !important;
    margin-bottom: 0;
    color: rgb(247, 150, 51) !important;
}

.menuicon{display: none;}
.selectproduct {display: none;}
}

.price{
color: #000;
font-size: 16px;
text-align: left;
}
.detail-box{
    padding: 0px 10px 50px;
}
.product_divider
{
     position: relative;
    margin-bottom: 30px;
    display: block;
}
.productdiv
{position: relative;
  box-sizing: border-box;
 padding: 0;
 margin-bottom: 10px;margin-top: 10px;
 vertical-align: top;
border-radius: 3px;overflow: hidden;
-moz-box-shadow: 2px 2px 10px 1px rgba(230,230,230,.62);
width: 100%;
left: 0px;display: block;bottom: 0px;
/* border: 1px solid rgba(220, 52, 60, 0.56); */
}
.detail-box p{
font-size: 13px;
color: #000;
letter-spacing: 1px;
}
.product-img-box {
  /*position: relative;text-align: center;position: relative;border: #f89633 solid 3px;behavior: url(PIE/PIE.htc);border-radius: 500px;display: inline-block;*/
}
.product:hover .product-img-box:before
{
  opacity: 1;
}
/*.product-img-box:before {content: "";background-color: rgba(0, 0, 0, 0.39);position: absolute;left: 0;right: 0;top: 0;bottom: 0;opacity: 0;display: inline-block;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;transition: all 1s ease 0s;border-radius: 204px;width: 204px;height: 204px;}*/

.product-img-box img {margin: 0 auto;padding: 0px 5px;border-radius: 204px;width: 204px;height: 204px;border: 2px solid #f09713;}
.qty {
width: 40px;
height: 30px;
text-align: center;
display: inline-block;
vertical-align: middle;
font-size: .9em;
text-align: center;
width: 33.333333%;
padding-left: 0;
padding-right: 0;
box-shadow: none;
border: none;
outline: none !important;
}
input.qtyplus {
    width: 25px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: .9em;
    text-align: center;
    width: 33.333333%;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    background: #dc343c;
    float: right;
    box-shadow: none;
    border: none;}
input.qtyminus {
    width: 25px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: .9em;
    text-align: center;
    width: 33.333333%;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    background: #dc343c;
    float: left;
    box-shadow: none;
    border: none;
}
.quantity{    border: 1px solid #db353a;
    border-radius: 3px;
    color: #dc343c;
    width: 110px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 0;
    float: right;
}
.ps-pagination .pagination li > a {
        padding: 0 17px;
    position: relative;
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 43px;
    border: solid 1px #d9d9d9;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;

}
.ps-pagination .pagination li > a:focus{
   outline: none !important;
}
.ps-pagination .pagination li > a:hover{
   outline: none !important;
     background-color:#f89633;
     color: #fff;
}
.ps-pagination .pagination li.active a{
outline: none !important;
background-color:#dc343c;
color: #fff;
}
.innerfooter{position: relative !important;background-color: #dc343c !important;padding: 10px;text-align: center;font-size: 14px;letter-spacing: 1px;text-transform: uppercase;}
.innerfooter a{
 color: #fff !important;
  text-decoration: none !important;
  font-size: 11px;
  line-height: 2;
}
.bottomfooter a{
 color: #fff !important;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 2;
}
.bottomfooter div{line-height: 2;}
.ps-pagination.text-center{
margin-bottom: 30px;
margin-top: 30px;
  }

.footerlinks{
margin: 0;
padding-left: 0;
text-align: left;
}
.footerlinks li{
display: inline-block;
margin-right: 15px;
color: #fff;
font-size: 12px;
cursor: pointer;
}
.footertext{
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/*checkoutpage css*/
.navbar-secondary {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 5px 0 rgba(220,52,60,.62);
    -moz-box-shadow: 0 1px 5px 0 rgba(220,52,60,.62);
    box-shadow: 0 1px 5px 0 rgba(220,52,60,.62);
    /* padding: 10px 0px; */
}
.steps {
  padding: 12px;
  text-align: center;
  overflow: auto;
}
.steps .steps-inner {
  display: inline-block;
  white-space: nowrap;
}
.steps .step-item {
  display: inline-block;
  margin-right: 50px;
}
.steps .step-item.done .step-count {
  background-color: #e40046;
  color: #fff;
}
.steps .step-item.done .step-count:after {
  font-family: 'Ionicons';
  content: '\f121';
}
.steps .step-item a {
  text-decoration: none;
}
.steps .step-item .step-count {
  width: 35px;
  height: 35px;
  background-color: #ddd;
  color: #999;
  border-radius: 50%;
  margin: auto;
  line-height: 37px;
  float: left;
  text-align: center;
}
.steps .step-item .step-label {
  color: #999;
  line-height: 35px;
  margin-left: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
}
.steps .step-item.active .step-count {
  background-color: #e40046;
  color: #fff;
}
.steps .step-item.active .step-label {
  color: #e40046;
  font-weight: 600;
}

/* Section */

.containersection a{
color: #000 !important;
text-decoration: none !important;
}
section.section {
  /*margin-top: 220px;*/
  margin-top: 50px;
  position: relative;
      margin-bottom: 20px;
}
section.section .section-inner {
  /*border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 20px 60px #ddd;*/
}
section.section .section-inner .section-nav-group {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f9f9f9;
  padding: 0 0 20px 0;
  margin-bottom: 10px;
}
section.section .section-inner .section-p, section.section .section-inner p {
  color: #000;
  line-height: 28px;
}
section.section .section-inner h2, section.section .section-inner h3, section.section .section-inner h4, section.section .section-inner h5, section.section .section-inner h6 {
  margin-top: 20px;
}
section.section .section-inner figure {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}
section.section .section-inner figure img {
  width: 100%;
}
section.section .section-inner figure figcaption {
  text-align: center;
  color: #989898;
  font-style: italic;
  margin-top: 10px;
  font-size: 12px;
}
section.section .section-inner .section-nav {
  height: 40px;
  width: auto;
  display: inline-block;
  border-radius: 30px;
  padding: 0 15px;
  border: 2px solid #ddd;
  text-align: center;
  line-height: 36px;
  color: #e40046;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
section.section .section-inner .section-nav i {
  margin-right: 10px;
  float: left;
}
section.section .section-inner .section-nav div {
  float: left;
  display: inline-block;
  margin-top: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.section .section-inner .section-nav.back {
  font-weight: 600;
  font-size: 12px;
}
section.section .section-inner .section-nav.forward {
  float: right;
}
section.section .section-inner .section-nav.forward i {
  margin-left: 10px;
  margin-right: 0;
}
section.section .section-inner .section-nav:hover {
  background-color: #e40046;
  color: #fff;
  border-color: #e40046;
}
section.section .section-inner .section-title {
  margin: 0;
      color: #000;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: 600;
}
section.section .section-inner .section-title.padding-top {
  padding-top: 20px;
}
section.section .section-inner .section-title.sm {
  /*font-size: 14px;*/
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
section.section .section-inner .section-subtitle {
  text-transform: uppercase;
  letter-spacing: .5px;
  margin: 30px 0;
  position: relative;
  padding-left: 30px;
  font-weight: 600;
      color: #000;
}
section.section .section-inner .section-subtitle:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 3px;
  width: 20px;
  background-color: #db353a;
}
section.section .section-inner .section-body {
  padding: 30px;
}
section.section .section-inner .section-body.center {
  text-align: center;
}
section.section .section-inner .section-body.center .line {
  margin-left: auto;
  margin-right: auto;
}
section.section .section-inner .section-footer {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
section.section .section-inner .section-footer .row {
  margin: 0 -30px;
}
section.section .section-inner .section-footer .row [class^="col-"] {
  padding: 0 30px;
}
section.section .section-inner .section-cta {
  padding: 30px 30px 40px 30px;
  text-align: center;
}
section.section .section-inner .section-cta p {
  margin-bottom: 20px;
  color: #989898;
  line-height: 24px;
}
section.section .section-inner .section-cta .price {
  font-size: 34px;
  color: #e40046;
  margin: 10px 0 25px 0;
  font-weight: 600;
}
section.section .section-inner .section-cta .price div {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #000;
}
section.section .section-inner .section-cta .btn {
  border-radius: 30px;
  padding: 10px 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  background: #db353a;
  border-color: #e40046;
  outline: none !important;
}
section.section .section-inner .section-cta .btn i {
  margin-left: 5px;
}
section.has-no-navbar {
  margin-top: 100px;
}

/* Items */
.items .item {
  /*border: 2px solid #f9f9f9;*/
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  display: table;
  margin-bottom: 20px;
  position: relative;
}
.items .item .item-inner {
  padding: 20px;
}
.items .item .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 14px;
}
.items .item figure, .items .item .item-details, .items .item .item-price {
  display: table-cell !important;
  vertical-align: top;
}
.items .item figure {
  width: 130px !important;
  height: 130px !important;
}
.items .item figure img {
  width: 100%;
}
.items .item .item-details {
  /*padding: 20px 40px 0 20px;*/
  width: 500px;
}
.items .item .item-details .item-title {
  /* font-weight: 600; */
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
      color: #000;
  line-height: 24px;
}
.items .item .item-details .item-title a {
  color: #333;
}
.items .item .item-details .item-description {
  margin-top: 5px;
  color: #989898;
  font-size: 12px;
  letter-spacing: .5px;
}
.items .item .item-details .item-variants {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.items .item .item-details .item-variants ul {
  padding: 0;
  margin: 0;
}
.items .item .item-details .item-variants ul li {
  float: left;
  display: block;
  margin-right: 25px;
  color: #000;
  text-transform: uppercase;
}
.items .item .item-details .item-variants ul li .variant-label, .items .item .item-details .item-variants ul li .variant-value {
  float: left;
  font-size: 12px;
}
.items .item .item-details .item-variants ul li .variant-label {
  border-bottom: 1px dotted #000;
  padding-bottom: 1px;
  margin-right: 5px;
  letter-spacing: .5px;
  font-weight: 600;
}
.items .item .item-details .item-variants ul li .variant-value {
  color: #e40046;
}
.items .item .item-details .item-variants ul li .variant-value .circle-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
}
.items .item .item-price {
  text-align: center;
  vertical-align: middle;
}
.items .item .item-price .value {
  font-size: 16px;
  font-weight: 600;
  color: #e40046;
}
/*.items .item .item-price .quantity {
  display: inline-block;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  margin-top: 5px;
}*/
.items .item .item-price .quantity .control {
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
}
.items .item .item-price .quantity .control.min, .items .item .item-price .quantity .control.plus {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
.items .item .item-price .quantity .control.min:hover, .items .item .item-price .quantity .control.plus:hover {
  color: #e40046;
}
.items .item .item-price .quantity .control.count {
  font-weight: 600;
  text-transform: lowercase;
}
.items .item .item-price .quantity .control.count span {
  margin-right: 1px;
}

/* Counpon */
.coupon {
  padding-bottom: 20px;
}
.coupon .coupon-icon {
  float: left;
  display: block;
  width: 40px;
}
.coupon .coupon-form p {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #898989;
}
.coupon .coupon-form .form-group {
  margin-top: 7px;
  position: relative;
}
.coupon .coupon-form .btn, .coupon .coupon-form .form-control {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-width: 2px;
  border-radius: 0;
  border-color: #ddd;
  font-size: 12px;
}
.coupon .coupon-form .btn {
  padding: 3px 17px;
  min-height: auto;
  height: 40px;
  line-height: 32px;
  background-color: #db353a;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  right: 10px;
  top: 7px;
  font-weight: 500;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.coupon .coupon-form .btn:hover, .coupon .coupon-form .btn:focus {
  opacity: .8;
}
.coupon .coupon-form .form-control {
  box-shadow: none;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  padding: 25px;
  font-weight: 600;
}
.coupon .coupon-form .form-control:focus {
  border-color: #e40046;
  color: #e40046;
}
.coupon .coupon-form .help-text {
  text-align: center;
  color: #737373;
}

/* Total Info */
.total-info {
  margin-top: 10px;
  padding-bottom: 20px;
}
.total-info .total-item {
  display: inline-block;
    width: 100%;
    /* margin-bottom: 8px; */
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 2px;
}
.total-info .total-item .total-name {
  float: left;
  color: #898989;
  font-weight: 500;
}
.total-info .total-item .total-value {
  float: right;
  font-weight: 600;
  color: #000;
}
.total-info .total-item.total {
  text-align: right;
  border:none;
}
.total-info .total-item.total .total-name {
  color: #000;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: 20px;
  float: none;
  font-weight: 600;
  margin-top: 0px;
}
.total-info .total-item.total .total-value {
  color: #dc343c;
  font-size: 24px;
}

/* Account Form */
.account-form .help-block {
  margin: 10px 0;
}
.account-form .divider {
  margin: 20px 0 30px 0;
}
.account-form .form-group {
  /* margin: 20px 0; */
  display: inline-block;
  width: 100%;
}
.account-form .account-action {
  text-align: left;
  padding: 20px 0;
}
.account-form .account-action label {
  margin-right: 10px;
  font-weight: 500;
  color: #898989;
}
.account-form .account-action label [class^="icheckbox_"] {
  display: inline-block;
  margin-top: -6px;
  zoom: .7;
}

/* Login Form */
.login-form {
  display: none;
}
.remember {
  float: left;
  margin-top: 15px;
}
.signin{
  /*margin:0 auto;*/
  display:block;
}
.line{
  background-image: url(../img/line.svg);
    background-position: center;
    background-size: cover;
    width: 47px;
    height: 8px;
    margin: 10px 0 20px 0;
}

/* Shipping List */
.shipping-list {
  padding-bottom: 40px;
}
.shipping-list .shipping-item {
  display: inline-block;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  cursor: pointer;
}
.shipping-list .shipping-item .shipping-item-checkbox,
.shipping-list .shipping-item .shipping-item-label,
.shipping-list .shipping-item .shipping-item-price {
  float: left;
  padding: 15px 10px;
  font-size: 12px;
}
.shipping-list .shipping-item .shipping-item-checkbox {
  padding: 13px 10px 0 20px;
}
.shipping-list .shipping-item .shipping-item-checkbox [class^="icheckbox_"] {
  zoom: .9;
}
.shipping-list .shipping-item .shipping-item-label {
  letter-spacing: .5px;
  color: #000;
}
.shipping-list .shipping-item .shipping-item-label span {
  margin-left: 10px;
  color: #db353a;
  letter-spacing: 0;
}
.shipping-list .shipping-item .shipping-item-price {
  float: right;
  color: #e40046;
  padding: 15px 20px;
}
.shipping-list .shipping-item:hover, .shipping-list .shipping-item.active {
  border-color: #e40046;
}

/* Shipping To */
.shipping-to .shipping-inner .name, .shipping-to .shipping-inner .address, .shipping-to .shipping-inner .contact, .shipping-to .shipping-inner .etd, .shipping-to .shipping-inner .action {
  color: #898989;
  margin-bottom: 3px;
  font-weight: 500;
}
.shipping-to .shipping-inner .address {
  line-height: 24px;
  letter-spacing: .3px;
}
.shipping-to .shipping-inner .contact span, .shipping-to .shipping-inner .etd span {
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-right: 5px;
  color: #db353a;
  font-weight: 600;
}
.shipping-to .shipping-inner .contact {
  margin-top: 15px;
}
.shipping-to .shipping-inner .etd {
  margin-bottom: 25px;
}
.shipping-to .shipping-inner .action {
  letter-spacing: .3px;
}

/* Grand Total */
.grand-total {
  padding-bottom: 40px;
}
.grand-total .grand-total-inner {
  display: inline-block;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  cursor: pointer;
}
.grand-total .grand-total-inner .grand-total-icon,
.grand-total .grand-total-inner .grand-total-label,
.grand-total .grand-total-inner .grand-total-price {
  float: left;
  padding: 15px 10px;
  font-weight: 600;
}
.grand-total .grand-total-inner .grand-total-toggle {
  display: inline-block;
  width: 100%;
  margin-bottom: -5px;
}
.grand-total .grand-total-inner .grand-total-icon {
  padding: 15px 10px 0 20px;
}
.grand-total .grand-total-inner .grand-total-label {
  letter-spacing: .5px;
  color: #000;
}
.grand-total .grand-total-inner .grand-total-label span {
  margin-left: 10px;
  color: #db353a;
  letter-spacing: 0;
}
.grand-total .grand-total-inner .grand-total-price {
  float: right;
  color: #e40046;
  padding: 15px 20px;
}
.grand-total .grand-total-inner .grand-total-details {
  display: none;
  width: 100%;
}
.grand-total .grand-total-inner .grand-total-details .total-info {
  padding-left: 20px;
  padding-right: 20px;
}
.grand-total .grand-total-inner .grand-total-details .total-info .total-item:not(.total) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.grand-total .grand-total-inner:hover, .grand-total .grand-total-inner.active {
  border-color: #e40046;
}

/* Payment Method List */
.payment-method-list {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
}
.payment-method-list .payment-method-item {
  display: block;
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.payment-method-list .payment-method-item:last-child {
  margin-right: 0;
}
.payment-method-list .payment-method-item .payment-method-checkbox {
  float: left;
}
.payment-method-list .payment-method-item .payment-method-details {
  margin-left: 40px;
}
.payment-method-list .payment-method-item .payment-method-details .title {
  font-size: 14px;
  color: #000;
}
.payment-method-list .payment-method-item .payment-method-details .description {
  color: #898989;
  line-height: 21px;
  margin-top: 7px;
  letter-spacing: .2px;
}
.payment-method-list .payment-method-item:hover, .payment-method-list .payment-method-item.active {
  border-color: #dc343c;
}

/* Confirm Payment Form */
.confirm-payment-form .form-group {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}
.confirm-payment-form .action {
  text-align: center;
}

/* Payment Method Form */
.payment-method-form {
  display: none;
  padding-bottom: 20px;
}
.payment-method-form.show {
  display: block;
}
.payment-method-form .payment-method-form-inner .form-group {
  margin: 0 0 20px 0;
}
.payment-method-form .payment-method-form-inner .form-control.bg {
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: 40px;
  padding-right: 60px;
}
.payment-method-form .payment-method-form-inner .form-control.bg.visa {
  background-image: url("../img/visa.png");
}
.payment-method-form .payment-method-form-inner .form-control.bg.americanexpress {
  background-image: url("../img/americanexpress.png");
}
.payment-method-form .payment-method-form-inner .form-control.bg.dinersclub {
  background-image: url("../img/dinersclub.png");
}
.payment-method-form .payment-method-form-inner .form-control.bg.discover {
  background-image: url("../img/discover.png");
}
.payment-method-form .payment-method-form-inner .form-control.bg.jcb {
  background-image: url("../img/jcb.png");
}
.payment-method-form .payment-method-form-inner .form-control.bg.mastercard {
  background-image: url("../img/mastercard.png");
}
.payment-method-form .payment-method-form-inner .form-control.bg.visa {
  background-image: url("../img/visa.png");
}
.payment-method-form .payment-method-form-inner .payment-method-form-item .count {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
  text-align: center;
  line-height: 48px;
  color: #db353a;
}
.payment-method-form .payment-method-form-inner .payment-method-form-item .title {
  margin: 15px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #db353a;
  font-weight: 600;
}
.payment-method-form .payment-method-form-inner .payment-method-form-item .description {
  color: #898989;
  line-height: 22px;
}

/* Thankyou */
.thankyou .thankyou-icon {
  width: 180px;
  margin: 0 auto;
  margin-top: 40px;
}
.thankyou .thankyou-icon img {
  width: 100%;
}
.thankyou .section-title {
  padding: 20px 0 5px 0;
  text-align: center;
}
.thankyou .section-p {
  padding-bottom: 10px;
}
.thankyou .line {
  margin: 10px auto 20px auto;
}
.thankyou .thankyou-inner .thankyou-description {
  line-height: 26px;
  color: #898989;
}
.thankyou .thankyou-inner .thankyou-cta {
  padding: 20px 0;
  text-align: center;
}
.thankyou .thankyou-inner .thankyou-cta .btn {
  border-radius: 30px;
  padding: 10px 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.thankyou .thankyou-inner .thankyou-cta .btn.btn-outline {
  box-shadow: none;
}
.thankyou .thankyou-inner .thankyou-steps {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  margin: 0 -10px;
}
.thankyou .thankyou-inner .thankyou-steps [class^="col-"] {
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  float: none;
  padding: 10px;
}
.thankyou .thankyou-inner .thankyou-steps .step {
  height: 100%;
  box-shadow: 0 0 10px #ddd;
  padding: 15px 20px;
  border-radius: 5px;
}
.thankyou .thankyou-inner .thankyou-steps .step .count {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
  text-align: center;
  line-height: 48px;
  color: #db353a;
}
.thankyou .thankyou-inner .thankyou-steps .step .title {
  margin: 15px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
}
.thankyou .thankyou-inner .thankyou-steps .step .description {
  color: #898989;
  line-height: 22px;
}


.flag {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-top: 2px;
}
.flag.id {
  background-image: url("../img/flag-id.png");
}
.flag.us {
  background-image: url("../img/flag-us.png");
}

/*helpme*/
.helpme {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2001;
  text-align: right;
}
.helpme .helpme-content {
  display: none;
  width: 300px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
.helpme .helpme-content .helpme-icon {
  position: absolute;
  top: -25px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 16px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 52px;
}
.helpme .helpme-content .helpme-title {
  font-size: 14px;
  padding: 15px 10px;
  margin: 0;
}
.helpme .helpme-content .helpme-content-scrollable {
  height: 300px;
  overflow: auto;
}
.helpme .helpme-content .helpme-content-scrollable .helpme-cards {
  padding: 0 10px;
}
.helpme .helpme-content .helpme-content-scrollable .helpme-card {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: #fbfbfb;
  border-radius: 3px;
  margin-bottom: 20px;
}
.helpme .helpme-content .helpme-content-scrollable .helpme-card h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
}
.helpme .helpme-content .helpme-content-scrollable .helpme-card .helpme-card-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.helpme .helpme-content .helpme-footer {
  height: 55px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  position: relative;
}
.helpme .helpme-content .helpme-footer input {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: 100%;
  padding: 20px 15px;
  padding-right: 80px;
  font-size: 12px;
  outline: none;
}
.helpme .helpme-content .helpme-footer .helpme-other {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.helpme .helpme-content .helpme-footer .helpme-other .helpme-other-item {
  cursor: pointer;
  float: left;
  margin-left: 17px;
}
.helpme .helpme-content .helpme-footer .helpme-other .helpme-other-item .ion {
  font-size: 22px;
}
.helpme .helpme-inner {
  background-color: #e40046;
  border-radius: 30px;
  padding: 10px 35px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
}
.helpme .helpme-inner .icon {
  float: left;
  font-size: 20px;
  color: #fff;
  margin-top: 2px;
}
.helpme .helpme-inner .icon .ion-close {
  display: none;
  margin-top: 14px;
}
.helpme .helpme-inner .text {
  font-size: 12px;
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fff;
}
.helpme.active .helpme-content {
  display: block;
}
.helpme.active .helpme-inner {
  height: 50px;
  width: 50px;
  padding: 0;
}
.helpme.active .helpme-inner .text {
  display: none;
}
.helpme.active .helpme-inner .icon {
  text-align: center;
  width: 100%;
}
.helpme.active .helpme-inner .icon .ion-close {
  display: block;
}
.helpme.active .helpme-inner .icon i:not(.ion-close) {
  display: none;
}

/*backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  z-index: 2000;
}

/*block*/
.block {
  margin-bottom: 20px;
}
.block .section-subtitle {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.block .section-subtitle .block-cta {
  float: right;
  font-size: 10px;
  margin-top: 5px;
}
.block .block-body img {
  margin-bottom: 5px;
}
.block .block-body .section-p {
  line-height: 18px;
  font-weight: 500;
}
.block .block-body .items .item {
  border: none;
  margin: 0;
}
.block .block-body .items .item .item-inner {
  padding: 0;
}
.block .block-body .items .item figure {
  width: 80px !important;
  height: 80px !important;
}
.block .block-body .items .item .item-details {
  padding: 0 0 0 15px;
}
.block .block-body .items .item .item-details .item-title {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}
.block .block-body .items .item .item-details .item-price {
  display: inline-block !important;
  margin-top: 5px;
  width: 100%;
}
.block .block-body .items .item .item-details .item-price .value, .block .block-body .items .item .item-details .item-price .quantity {
  float: left;
  width: auto;
  margin: 0;
  font-size: 12px;
}
.block .block-body .items .item .item-details .item-price .quantity {
  margin-left: 5px;
}

/*faq*/
.faq {
  display: inline-block;
  width: 100%;
  border: 2px solid #ddd;
  color: #989898;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  /*padding: 10px 15px;*/
  margin-bottom: 5px !important;
}
.faq .faq-heading,
.faq .faq-body {
  padding: 0;
  border: none !important;
}
.faq .faq-heading a {
  color: #989898;
}
.faq .faq-body {
  margin-top: 15px;
  line-height: 24px;
  font-weight: 400;
  font-size: 12px;
}
.faq .faq-body .faq-help-btn {
  margin-top: 20px;
}
.faq .faq-body .faq-help-btn .text, .faq .faq-body .faq-help-btn .btn {
  display: inline-block;
}
.faq .faq-body .faq-help-btn .text {
  font-weight: 600;
}
.faq .faq-body .faq-help-btn .btn {
  min-height: auto;
  padding: 3px 15px;
  margin-left: 5px;
  font-size: 12px;
}

/* Mobile with maximal width 425px */
@media screen and (max-width: 992px) {
 .productsection .product-img-box {
 margin: 0 auto;
  display: table;}
.on-mobile {
display: block;
}
.navbar-brand>img {
    display: block;
    max-width: 30%;
    width: 120px;
    margin: 0 auto;
    padding-bottom: 0px !important;
}

.navbar-right{
 margin-top: 0px !important;
}
.header-item.header-item--address{display: none;}
.innerheader .navbar-brand>img
{
      max-width: 120px !important;
}
.productsection{padding-top:250px !important}
.paddingmob0{
  padding: 0px !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-nav>li>a {
  color: #fff !important;
}
/*menu button click css*/
ul#myTopnav li a{
  font-size: 20px;
    color: #dc343c;
}
#myTopnav.responsive li {
float: none;
display: block;
text-align: left;
}
 .icon.menuicon{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #f79633;
    background-color: #000000;
    padding: 5px 10px;
    width: 40px;
    line-height: 1;
}

#myTopnav li{display: none;}
.search__btn{    right: 0 !important;}
.search-bar {
margin-right: 15px;
margin: 20px auto;
float: none;
position: relative;
left: 0 !important;
position: relative !important;
width: 100%  !important;
z-index: 2001;
}
.subheaderproductpage {
    display: none;
    overflow-y: scroll;
    height: 250px;
    position: relative;
}
.subheaderproductpage li {
float: none;
margin: 10px 0px;
}
.subheaderproductpage>li>a{
  display: block;
}
.selectproduct{margin: 10px 0px;font-size: 15px;
  letter-spacing: 1px;width: auto;
  border: 2px solid #dc343c;width: 220px;
  margin: 0px auto;
  padding: 5px;}
.pagination{
      margin-left: 35px;
}
.subheaderproductpage>li>a:hover{
   border-bottom: 2px solid #db353a;
 }
.detail-box h3:before {
left: -48px;
}

.imgshadow{margin-top:0px !important;}
.detail-box h3:after {

right: -48px;
}
.detail-box h3{height:32px !important;}
/*.stickygold{    height: 60px !important;}*/
.containersection {
width: 100% !important;
}
section.section {
margin-top: 280px;
}
.navbar-nav>li {padding: 0px 6px !important;display: block;color: #fff;text-align: left;margin-left: 30px;}
.search-bar{display: inline-block;margin: 0 !important;padding: 0;width: 50%;}
.product{
  padding: 0px!important;
}
.equalheightsdiv{
  display: flex;
  flex-direction:column-reverse;
  justify-content:center;
}
.col-md-6.equal_inner {
    padding: 0;
}

.col-sm-6.equal_inner,.equal_innerdiv {
    margin-top: 20px;
    padding: 0 15px;
}
.product_caption h2{
     text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 0;
    color: rgb(247, 150, 51) !important;
      font-size: 2.513em !important;
}
.navbar-header {
    display: inline-block;
    width: 100%;
    /* margin-left: 50px; */
    /* margin: 0 auto; */
    /* display: table; */
    /* text-align: center; */
    line-height: 0;
}
.navbar-brand{
     float: none;
     margin: 0 auto;
     line-height: 0;
}
.product_divider img{width: 230px !important}
.navbar.navbar-primary .navbar-header {
display: inline-block;
position: absolute;
width: 100%;
text-align: center;
}
.navbar.navbar-primary .navbar-header .navbar-brand {
float: none;
display: inline-block;
}
.navbar.navbar-primary .navbar-header .navbar-toggle {
position: absolute;
right: 0;
margin-top: 12px;
margin-bottom: 12px;
}
.navbar.navbar-primary .navbar-header .navbar-toggle .icon-bar {
background-color: #fff;
}
.navbar.navbar-primary .navbar-nav.navbar-right > li > a {
background-color: #fff;
color: #989898;
line-height: 42px;
}
.navbar.navbar-primary .navbar-nav.navbar-right > li.active a {
color: #e40046;
}
.navbar.navbar-primary .navbar-nav .flag {
margin-top: 5px;
}
.navbar.navbar-primary .navbar-nav.navbar-left {
position: absolute;
top: 0;
left: 10px;
margin: 0;
}
.navbar.navbar-primary .navbar-nav.navbar-left:before {
display: none !important;
}
.navbar.navbar-primary .navbar-nav.navbar-left li .dropdown-menu {
z-index: 2002;
position: absolute;
left: 0;
background-color: #fff;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
width: 200px;
}
.navbar.navbar-primary .navbar-nav.navbar-left li .dropdown-menu li a {
padding: 12px 18px;
}
.navbar.navbar-primary .navbar-nav.navbar-left li .dropdown-menu li a .flag {
margin-top: -3px;
}

.navbar-collapse {
margin-top: 58px;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.navbar-collapse .navbar-nav {
margin: 0 -15px;
}

.navbar.navbar-secondary .navbar-inner {
display: inline-block;
width: 100%;
}

section.section .section-inner .section-header .row [class^="col-"] {
float: left;
}
section.section .section-inner .section-header .row .title {
padding: 40px 0;
}

.items .item figure, .items .item .item-details, .items .item .item-price {
width: 100%;
display: block;
}
.items .item figure {
height: auto;
}
.items .item .item-details {
padding: 0;
}
.items .item .item-details .item-title {
    line-height: inherit;
    margin-bottom: 10px;
}
section.section .section-inner .section-body {
    padding: 30px 0;
}
.items .item .item-price {
width: 150px;
margin: 25px auto 15px auto;
}
.items .item .close {
top: -10px;
right: -10px;
background-color: #e40046;
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
line-height: 30px;
font-size: 14px;
color: #fff;
opacity: 1;
}

.shipping-to {
margin-bottom: 40px;
}

.payment-method-list {
display: block;
}
.payment-method-list .payment-method-item {
display: inline-block;
width: 100%;
margin-bottom: 20px;
}

.payment-method-form .payment-method-form-item {
margin-bottom: 20px;
}
.payment-method-form .payment-method-form-item .count {
float: left;
}
.payment-method-form .payment-method-form-item .title,
.payment-method-form .payment-method-form-item .description {
margin-left: 65px !important;
}
.payment-method-form .payment-method-form-item .title {
margin-top: 5px !important;
}

.thankyou .thankyou-inner .thankyou-steps {
display: block;
}
.thankyou .thankyou-inner .thankyou-steps .step {
display: inline-block;
width: 100%;
margin-bottom: 10px;
}
.thankyou .thankyou-inner .thankyou-steps .step .count {
float: left;
}
.thankyou .thankyou-inner .thankyou-steps .step .title, .thankyou .thankyou-inner .thankyou-steps .step .description {
margin-left: 65px;
}
.thankyou .thankyou-inner .thankyou-steps .step .title {
margin-top: 5px;
}
.thankyou .thankyou-inner .thankyou-description {
line-height: 28px;
}
.thankyou .thankyou-inner .thankyou-cta a {
margin-bottom: 10px;
}

footer.primary {
line-height: 24px;
}

.helpme {
bottom: 15px;
right: 15px;
}

.foot-icon {
    display: inline-block;
}
.foot-icon a{
  float: none;
}
.inner_page_banner {
    /* margin-bottom: 0 !important; */
    /*visibility: hidden;*/
}
.kaju_bottom{
  display: none;
}
.history_block{
  margin-top: 0px !important;
}
.red_block .tab-content img{
  float: none !important;
}
.red_block .tab-content #ourhistory, .red_block .tab-content #ourworkforce{
  width: 100% !important;
}
span.cap{
  width: 50% !important;
}
.checkoutpage .items .item-inner{
  display: block !important;
  border-bottom: none !important;
}
.checkoutpage .section-inner {
    margin-top: 30px !important;
}
.invoice_info {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.deliever_info {
    margin-bottom: 30px;
}
.product_qty{
  margin-left: 15px !important;
}
.checkoutpage .items{
  border:none !important;
}

}
.containersection{
  width: 840px;
  margin: 0 auto;
}

.checkoutpage .form-control
{
      border: 2px solid #ddd;
    height: 45px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.checkoutpage .form-group label{
  color: #000;
}
.account-form .form-group {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    margin-top: 0px;
}
.icheckbox_flat-purple, .iradio_flat-purple {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../img/purple.png) no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_flat-purple {
    background-position: -88px 0;
}
.iradio_flat-purple.checked {
    background-position: -110px 0;
}

.btn-primary {
    background:#e40046;
    border-color: #dd9040;
    color: #fff !important;
}
.btn-primary:hover ,.btn-primary:focus {
    background: #db353a;
    border-color: #db353a;
}

.food-type {
width: 15px;
height: 15px;
margin-right: 10px;
background-position: center;
display: inline-block;
vertical-align: middle;
background-image: url(../images/veg.svg);
background-size: 100%;
}
.productdiv .food-type{
      color: #fff;
    display: inline-block;
    right: 0;
    position: absolute;
       right: 15%;
    position: absolute;
    top: 4%;
/*    z-index: 99;*/
    margin: 0;
}
.footer-title {
  font-size: 13px;
  text-align: left;
  position: relative;
  font-weight: 500;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
h4.footer-title:before {
content: "";
width: 20px;
height: 2px;
left: 0;
bottom: 0;
position: absolute;
background-color: #f89633;
}

.foot-icon a {
    display: inline-block;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.footer-links li
{
  text-align: left;
  font-size: 13px;
}
#newsletter{display: inline-block;width: 80%;height: 32px;border: 1px solid #fff;background: transparent;color: #fff;letter-spacing: 1px;padding: 6px 12px;font-size: 12px;line-height: 1.5;}
.newsletter_submit{display: inline-block;/* width: 25%; */box-shadow: none;border: none;background: #f89633;color: #fff;font-size: 11px;/* padding: 4px; */outline: none !important;letter-spacing: 1px;/* height: 30px; */vertical-align: top;line-height: 30px;text-align: center;}
#newsletter::-moz-placeholder{color:#fff;opacity:1}
#newsletter:-ms-input-placeholder{color:#fff}
#newsletter::-webkit-input-placeholder{color:#fff}
.searchbox::-webkit-input-placeholder{color:rgb(125, 121, 121)}
.searchbox:-ms-input-placeholder{color:rgb(125, 121, 121)}
.searchbox::-moz-placeholder{color:rgb(125, 121, 121)}

.bottomfooter{
background: #000000;
text-align: center;
letter-spacing: 1px;
padding: 5px;
}
.search-bar{
margin-right: 15px;
margin: 20px auto;
float: left;
left: 385px;
top: 0px;
position: absolute;
width: calc(100% - 800px);
z-index: 2001;
}

.innerheader .navbar-brand>img{
   max-width: 150px;
   padding-top: 2px;
}
.searchbox{
border-radius: 8px;
/* background: #a8a19e91; */
border-radius: 0px;
border: 0;
/* box-shadow: 0px 1px 3px #958e8b inset; */
color: #231e1e;
/* background: #9E9E9E; */
border: 1px solid #000;
width: 100%;
padding: 1em 5em 1em 1em;
font-size: 1em;
color: #999;
outline: none;
border: 1px solid #ddd;
background: none;
-webkit-appearance: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
height: 45px;
box-shadow: none !IMPORTANT;
}
.search-icon {
    top: 8px;
    position: absolute;
    right: 0;
    left: 0;
    height: initial;
    color: #fff;
    font-size: 16px;
}
/*checkout buttons */
.le-socialconnect-login .ico-fb:hover {
background: url(../images/social-sign-in-hvr.png)!important;
background-repeat: no-repeat;
width: 196px !important;
height: 40px !important;
padding: 0;
border: none;
background-position: 0 86px !important;
margin-bottom: 5px;
transition: .6s;
-webkit-transition: .6s;
-moz-transition: .6s;
-o-transition: .6s;
}
.ico-fb{
background: url(../images/social-sign-in.png)!important;
background-repeat: no-repeat;
width: 196px !important;
height: 40px !important;
padding: 0;
border: none;
background-position: 0 86px !important;
margin-bottom: 5px;
}
.le-icon {cursor: pointer;margin-top: 28px;}
.ico-fb:hover{

}
.ico-go {
    background: url(../images/social-sign-in.png)!important;
    background-repeat: no-repeat;
    width: 196px !important;
    height: 40px !important;
    padding: 0;
    border: none;
    background-position: 0 40px !important;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}
.ico-go {
    background-position: 0 42px !important;
}

.searchbox:focus {
    border-color: #dc343c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 150, 51);
    box-shadow: none;
}

#search_con{
  border: 1px solid #D42427;
    width: 280px;
    border-radius: 50px;
    font-size: 13px;
}
 .user-address, .my-list .user-address {
    display: inline-block;
    max-width: 204px;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.account, .shopping-cart, .user-address {
    display: block;
    height: 100%;
    line-height: 60px;
    overflow: hidden;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-address:before, .my-list .user-address:before {
       content: "\f041";
       font-family: FontAwesome;
       font-style: normal;
       font-size: 18px;
       left: -5px;
       position: relative;
       COLOR: #F44336;
}
/*.user-address:after, .my-list .user-address:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 19px;
    bottom: -1px;
    position: relative;
    right: -5px;
    COLOR: #F44336;
}*/
 .header-item--address, .my-list .header-item--address {
    padding: 0 0 0 25px;
     width: 150px;
}
 .header-item, .my-list .header-item {
    display: inline-block;
    vertical-align: middle;
    margin: 12px auto;
    float: left;
    color: #000;
    /* line-height: 4; */
}
 .header-item__label, .my-list .header-item__label {
    display: none;
    font-size: 10px;
    text-align: left;
}
/*.search__btn {
    border-left: 1px solid #eee;
    border-radius: 0 1px 2px 0;
    color: #999;
    font-size: 18px;
    height: 45px;
    width: 50px;
    position: absolute;
    top: 0;
    outline: none!important;
    right: 11px;
    background: #dc343c;
    border-bottom: none;
    top: 5px;
}*/
button.btn.search__btn {
    background: red;
    color: #fff;
    width: 80px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    margin: 13px;
    margin-right: 18px;
}
.inheaderlinks i.fa{
    font-size: 18px;
    /*line-height: 1.1;*/
    vertical-align: middle;
    color: #ffffff;
}
/*offerbar css*/
.offerbar{
      padding: 10px;
    background: #000;
}
.offerbar .tagline{    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;}

.stickygold{
        /*background: radial-gradient(40% 50px at center,#f79633,#db353a,#f79633);
    height: 44px;*/
}
span.coming-soon.ml10 {
    background: -moz-radial-gradient(right,90% 50px,#A37320,#EFEA7E,#A37320);
    background: -webkit-radial-gradient(90% 50px at right,#A37320,#EFEA7E,#A37320);
    background: radial-gradient(90% 50px at right,#f79633,#ffffff,#f5f1ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    border-bottom: 1px solid #A37320;
    margin-left: 20px;
}
.no-padding
{
padding: 0px
}


/*parallax effect css*/
.scene, .layer, .content{display:block;height:100%;width:100%;padding:0;margin:0;}
.scene{overflow:hidden;}
.layer{position:absolute !important;}

.layer div {
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}

.bannerscene{
   height: 100%;
width: 100%;
background-color: rgb(181, 170, 152);
background-size: contain;
overflow: hidden;
display: block;

}

 .backgroundbanner {
bottom: 0px;
background-size: cover;
position: absolute;
width: 110%;
left: 0;
top: 0%;
background-image: url(../images/KHUSHI-KA-PEEETARA-BANNER.jpg);
background-repeat: no-repeat;
background-position: center;
right: 0}

.sceneimg{
width: 120px;
height: 120px;
}
#tukada1 {
left: 3%;
height: 100px;
width: 100px;
position: absolute;
top: 18%;
}
#tukada2{top: 30%;left: 8%;height: 100px;width: 100px;position: absolute;top: 30%;}
#tukada3{
   right: 12%;
   height: 100px;
   width: 100px;
   position: absolute;
   top: 20%;
}
#tukada4{
 right: 3%;
height: 100px;
width: 100px;
position: absolute;
top: 44%;
}
#tukada5{right: 4%;height: 100px;width: 100px;position: absolute;top: 2%;}
#tukada6{
left: 4%;
height: 100px;
width: 100px;
position: absolute;
bottom: 8%;
}

#tukada7{right: 50%;bottom: 15%;height: 100px;width: 100px;position: absolute;}
#tukada8 {
left: 0;
height: 100px;
width: 100px;
position: absolute;
bottom: 35%;
}
#tukada9{
right: 3%;
height: 100px;
width: 100px;
position: absolute;
bottom: 20%;
}

#tukada10{
right: 20%;
height: 100px;
width: 100px;
position: absolute;
bottom: 5%;
}

#tukada11{left: 20%;height: 100px;width: 100px;position: absolute;top: 8%;}

#tukada12{
left: 52%;
height: 100px;
width: 100px;
position: absolute;
bottom: 50%;
}

#tukada13{
left: 2%;
height: 100px;
width: 100px;
position: absolute;
bottom: 0%;
}

#tukada14{
right: 2%;
height: 100px;
width: 100px;
position: absolute;
top: 0%;
}

.productsmbanner2{    float: right;}
.paddright0{    padding-right: 0;}

.productsmbanner2{
  float: right;
}
.product_divider img{
  margin: 0 auto;
  display: table;
}

.iconsmobile{
float: right;
position: absolute;
top: 0;
right: 0;
top: 20px;
font-size: 25px;
text-decoration: none;
color: #f79633;
padding: 5px 10px;
width: auto;
line-height: 1;
  }
.mobicons{
  font-size: 25px;
line-height: 1.1;
vertical-align: middle;
color: #000;
margin-right: 20px;
}

/*new poduct page css*/
.category-grid .product_list {padding: 50px 0px 15px;margin: 0 auto;max-width: 540px;clear: both;}

.products-list ul li {
    width: 50%;
    float: left;
    position: relative;
    display: inline-block;
    margin-bottom: 15px !important;
    padding: 0 15px;
}
.product-inner {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    z-index: 0;
    background: #fff;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.product-category-wrap {
    display: table;
    width: 100%;

}

.productlistimg {
    height: auto;
    max-width: 100%;
}
 .item-info {
    text-align: left;
    padding: 10px 10px !important;
}
.item-img-info {
    /* background: #fff; */
    padding: 10px 0px;
}


 .item-title {
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    line-height: 1.7;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; */
    /* max-height: 47px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
        margin-top: 0;
    color: #4c5462;
}
.itm-desc-ft{
    font-weight: normal!important;
}

.item-info p{
 margin-top: 0;
    color: #4c5462;
  }
  .amount{
    color: #000;
    float: none;
    display: block;
    text-align: center;
    /*float: left;
    display: inline-block;*/
  }
.productlistingdiv{
    position: relative;
    vertical-align: top;
    /* width: 33%; */
    float: none;
}
.dadus-products .quantity{
    /* float: left; */
    /* display: table; */
    /* margin: 10px auto; */
  }
.productbigdiv1{
    background-image: url(../images/innerpage/1.jpg);
      background-size: contain;
    background-position: 100%;
    position: relative;
    background-color: #fff;
    vertical-align: top;
    background-repeat: no-repeat;
    float: none;

}
.productbigdiv2{
    background-image: url(../images/innerpage/2.jpg);
      background-size: auto;
    background-position: right;
    position: relative;
    vertical-align: middle;
    float: none;
    background-color: #fff;
    background-repeat: no-repeat;

}
.product_list .product-inner:hover .item-inner:before,
 .product_list .product-inner:hover .item-inner:after{
    width: 100%;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.product_list .product-inner .item-inner:before {
    content: "";
    left: 5%;
    width: 90%;
    height: 2px;
    background: #f89b72;
    position: absolute;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transform: scale(0.9, 1);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    }

    .product_list.grid .block-product-inner .item-inner:after {
    width: 90%;
    height: 2px;
    background: #f89b72;
    bottom: 0px;
    content: "";
    left: 5%;
    position: absolute;
    opacity: 0;
    transform: scale(0.9, 1);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

/*div .quantity {
    position: absolute;
    left: 23%;
    margin-top: 10px;
}*/


@media (min-width: 992px){
.productlistingdiv, .productbigdiv{
    display: table-cell;
}
}
@media (max-width: 992px){
.category-grid .product_list {
    max-width: 80%;
    padding: 80px 10px 24px;
}
}


@media (max-width: 767px){
.category-grid .product_list {
    max-width: 100%;
    padding: 60px 10px 4px;
}
}

.mgtop50{margin-top: 50px;}
.items .item .item-price .quantity {
   width: 100%;
    display: flex;
    justify-content: space-between;
}

.quantity {
    border: 1px solid #db353a;
    border-radius: 3px;
    color: #dc343c;
    width: 110px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 0;
    float: right;
}

.quantity input[type="submit"] {
    background: #dc343c;
    padding: 5px 10px;
    border: none;
    color: #fff;
}

/** custom css
-----------------------**/
span.add_cart {
    margin-top: 15px;
    display: inline-block;
    clear: both;
    width: 100%;
}
.price{
  text-align: center;
}
.add_to_cart_button {
    background-color: #dc343c;
    border-radius: 3px;
    letter-spacing: 1px;
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    padding: 10px 18px;
    text-decoration: none !important;
    text-transform: uppercase;
    border: none;
}
.checkoutpage .items .item .item-price {
    text-align: center;
    vertical-align: top !important;
}
.checkoutpage .item-title{
  margin-top: 0px !important;
}
.validateotp{
  display:block;
  /*margin:0 auto;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


@media screen and (max-width: 768px){


  .jumbo_title{
    font-size: 20px !important;
  }
  .jumbotron h3{
    font-size: 18px;
  }
  .slider_btn{
    font-size: 0.8em;
  }
  .jumbotron {
      height: 334px !important;
  }
  .homefooter {
    padding: 5px;
    font-size: 12px;
  }
  .homeheader .icon.menuicon{
    color: #000000;
    background-color: #ffffff;
  }
  .mobicons{
    color: #fff;
  }
  .productsection {
    padding-top: 0px !important;
  }
  .innerheader .mobicons{
    color: #f79633;
  }
  .productsheader{
    background-color: #dc343c;
  }
  section.section{
    margin-top: 0px;
  }
  .qty{
    width: 20px !important;
  }
  .items .item figure, .items .item .item-details, .items .item .item-price{
    display: block !important;
    text-align: center;
  }
  .items .item .item-inner{
    text-align: center;
  }
  section.section .section-inner figure{
    margin:0 auto;
  }
  .selectproduct{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  span.caret{
    margin-left: 20px;
    margin-top: -3px;
  }
  .icon.menuicon{
    color: #fff;
  }
  .items .item .close{
    display: none;
  }
  .items .item {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      display: inline-block;
      width: 100%;
      border-radius: 0px;
      display: table;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 40px;
  }
  .innerheader .mobicons{
    color: #000;
  }
  .quantity input[type="submit"]{
    margin-right: -1px;
  }
  .total-info .total-item {
      display: inline-block;
      width: 100%;
      margin-bottom: -4px;
      border: 1px solid gainsboro;
      padding: 10px;
  }
  .total-item.total{
    border:none;
  }
  .containersection a{
    display: inline-block;
  }
  .le-icon {
      cursor: pointer;
      margin-top: 0 !important;
  }
  .account-form .form-group{
    text-align: center;
  }
  .checkoutpage .form-group label{
    display: block;
    text-align: left;
  }
  section.section .section-inner .section-cta .btn{
    display: block;
    margin:0 auto;
  }

  .backgroundbanner{
    background-image: url(../images/mob_home_page.jpg);
  }
  .grand-total-icon .fa{
    color: #dc343c;
    font-size: 20px;
  }
  .vs-vertical-nav a:before{
    display: none;
  }
  .vs-vertical-nav a {
      background: #d42427;
      padding: 5px 10px;
      font-size: 12px;
      width: auto !important;
      color: #fff;
      letter-spacing: 1.5px;
      font-weight: 400;
      opacity: 1;
      border: 2px solid;
  }
  .vs-vertical-nav{
    bottom: 15%;
  }

.home_html,
.home_body {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

}

.inner_list li{
    color: #373737;
    display: block;
    margin-bottom: 10px;
}
ul.inner_list {
    padding-left: 20px;
    list-style: disc;
}

@media screen and (max-width: 768px){

  .selectproduct {
      padding: 10px;
      border-bottom: 1px solid #fff;
  }
  .dropdown-menu{
    position: relative;
    width: 100%;
    background: none;
    border: none;
    padding: 0px;
    height: auto !important;
    box-shadow: none;
    margin-bottom: 15px;
  }
  .subheaderproductpage li {
    float: none;
    margin: 0px 0px;
  }
  .subheaderproductpage>li>a{
    border-bottom: 1px solid gainsboro;
  }
  span.caret{
    margin:8px;
    float: right;
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
  .productsheader{
    padding:0px;
  }
  .subheaderproductpage{
      background: #4c4c4c;
      min-height: 250px;
      height: initial;
  }
  .subheaderproductpage>li>a:hover {
      border-bottom: 1px solid gainsboro;
  }
  .dropdown-menu li{
    background-color: #d4d4d4;
  }
  .dropdown-menu>li>a {
      padding: 12px 20px;
      width: 100%;
      color: #000;
      letter-spacing: 0.5px;
      border-bottom: 1px solid !important;
  }
  .dropdown-menu>li:last-child a{
    border-bottom: none !important;
  }
  .subheaderproductpage>li:last-child a{
    border-bottom: none;
  }
}
#showError{
  margin:2px;
  color: black;
}

.about_title {
    font-size: 30px !important;
    margin-bottom: 30px !important;
}
.datetimepicker{
  background-color: #000 !important;
}
.datetimepicker table tr td.day:hover {
    background: blue !important;
    cursor: pointer;
}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
    background: blue !important;
}
.datetimepicker table tr td span:hover {
    background: blue !important;
}


/** custom page design
-----------------------------**/
.static_page{
	margin-top: 0px !important;
}
.full_container{
	width: 100%;
}
.inner_page_banner {
    margin-bottom: 50px;
}
.red_block {
    /*background: #dc343c;*/
    padding: 50px 0;
    color: #fff;
    margin:50px 0;
}
.red_block p{
	color: #fff !important;
  font-size: 18px;
    font-style: italic;
}
img{
	max-width: 100%;
}
.top_text img{
	margin-bottom: 30px;
    max-width: 70%;
}
.kaju_bottom img{
	max-width: 40%;
    margin-right: -100px;
    margin-top: -30px;
}
.history_block {
    display: inline-block;
    margin-top: 80px;
}

span.chop {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: -150px;
    width: 20%;
}
span.cap {
    display: inline-block;
    margin-left: 100px;
    width: 25%;
}
.header-item--address{
    width: 200px;
}
.loc-select{
    background: none;
    border: none;
    outline: none;
    /*-webkit-appearance: none;
   -moz-appearance: none;*/
}

.searchresult{
        height: auto !important;
        background-color: #ececec;
        margin-top: 10px;
        border-radius: 5px;
        color: #000;
        text-decoration: none !important;
            position: absolute;
            /*min-height: 200px;*/
            overflow-y: auto;
        /*border: 1px solid red;*/
            overflow-x: hidden;
            text-align: left;
            z-index: 9;
}
.searchresult div{
        /*padding: 10px;*/
}
/* .searchresult div:last-child{

} */
.searchresult div a{
   color: #ff0000;
    display: block;
    border-bottom: 1px solid gainsboro;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.searchresult div a:hover{
  background-color: #ff0000;
  color: #fff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.searchresult div:last-child a{
  border-bottom: none;
}
.searchresult div a img{
        margin-right: 15px;
}
.search-li input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #d42427;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
        background-position: 10px 8px;
    background-repeat: no-repeat;
    padding: 10px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
        color: #000000;
    font-family: roboto;
}

.search-li input[type=text]:focus {
    width: 100%;
}
.search-li{
      padding-top: 6px !important;
}
.small-nav{
  margin:0px;
}
a.navbar-brand img {
        width: 75%;
    padding-bottom: 20px;
}
.small-nav a{
  padding:10px 0px !important;
}
.small-nav li a:hover {
    border-bottom: 2px solid #d42427;
}
.user-address {
    border: 2px solid #d42427;
    border-radius: 4px;
    line-height: 35px;
}
.header-item.header-item--address {
    margin-top: 17px;
}
.about_title {
      text-transform: capitalize !important;
    letter-spacing: 1px !important;
    font-weight: 700 !important;
    margin: 0 !important;
    font-family: 'Great Vibes', cursive !important;
    font-size: 3.513em !important;
    margin-bottom: 0 !important;
    color: rgb(247, 150, 51) !important;
}
.red_block img {
    width: 90px;
}
.red_block .tab-content img{
  /*width: 100%;
    padding-top: 30px;
    margin: 0 auto;*/
        width: 90%;
    /* padding-top: 30px; */
    /* margin: 0 auto; */
    float: right;
}
.red_block .tab-content{
      background: #ffffff;
          padding: 30px 0px;
              /*width: 80%;*/
    margin: 0 auto;
}
.red_block h3 {
    margin-top: 40px !important;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
        font-style: italic;
            color: #ffffff;
}
.red_block .tab-content p {
    font-size: 14px;
    color: #000000 !important;
    font-style: normal;
}
.red_block .nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
    background: transparent;
}
.red_block .nav-tabs>li.active>a, .red_block .nav-tabs>li.active>a:focus, .red_block .nav-tabs>li.active>a:hover{
  background-color: transparent;
  border: 0px;
  /*-webkit-box-shadow: 1px 1px 1px 1px #C7C7C7;
box-shadow: 1px 1px 1px 1px #C7C7C7;*/
}
.red_block .nav-tabs>li.active>a h3, .red_block .nav-tabs>li.active>a:focus h3, .red_block .nav-tabs>li.active>a:hover h3{
  color: rgb(247, 150, 51) !important;
  }
.red_block .nav>li>a {
    display: -webkit-box;
}
.full-width{
  width: 100%;
}
.red_block ul.nav.nav-tabs {
    background: #dc343c;
    padding: 30px;
}

.red_block .tab-content #ourhistory, .red_block .tab-content #ourworkforce{
  width: 80%;
  margin:0 auto;
  }


/*testimonials carousel slider css starts here*/
#testimonials .media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
#testimonials .media-carousel .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
#testimonials .media-carousel .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
#testimonials .media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
#testimonials .media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#testimonials .media-carousel .carousel-indicators .active
{
  background: #333333;
}
#testimonials .media-carousel img
{
  /*width: 250px;
  height: 100px*/
      width: 40%;
    margin: 0 auto;
    text-align: center;
    display: block;
     padding-top: 20px;
}
/* End carousel */

.testimonial-block{
    background: #ffffff;
    /*-webkit-box-shadow: 0px 0px 5px 3px #ccc;
    -moz-box-shadow: 0px 0px 5px 3px #ccc;
    box-shadow: 0px 0px 5px 3px #ccc;*/
    margin: 19px 0px;
    padding: 0 25px;
    height: 300px;
    border: 2px solid #dc343c;
    overflow-y: auto;
}
.red_block #testimonials h3{
      color: #000000;
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px !important;
}
.red_block #testimonials p{
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
  }

  #testimonials .owl-carousel.owl-loaded {
  display: inline-block;
}

  #testimonials .img-wrap {
  background-size: cover;
  background-position: bottom;
  /*height: 300px;
  width: 300px;*/
  height: auto;
    width: 80%;
      background: none !important;
          margin: 0 auto;
}
  #testimonials .img-wrap img {
  /*visibility: hidden;*/
}
#testimonials .owl-prev {
        position: absolute;
    left: 0px;
    top: 40%;
    margin: 0px !important;
    font-size: 35px !important;
    background: #000000 !important;
        border-radius: 0px;
}
.owl-next {
    position: absolute;
    right: 0;
    top: 40%;
    margin: 0px !important;
    font-size: 35px !important;
    background: #000000 !important;
        border-radius: 0px;
}
.red_block .tab-content #testimonials img{
      width: 50%;
      padding-top: 30px;
      margin: 0 auto;
    float: none;
      }

#ourhistory h2, #testimonials h2, #ourworkforce h2{
  padding: 30px;
}

.no-prod {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}



/*login Register page design */

.help-block{color: red !important;}
.loginbox#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.loginbox .left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

.loginbox h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.loginbox input[type="text"]:focus,
.loginbox input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.loginbox input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.loginbox input[type="submit"]:hover,
.loginbox input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.loginbox input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.loginbox .or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.loginbox .right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.loginbox .right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

.loginbox button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

.loginbox button.social-signin:hover,
.loginbox button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.loginbox button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.loginbox button.social-signin.facebook {
  background: #32508E;
}

.loginbox button.social-signin.twitter {
  background: #55ACEE;
}

.loginbox button.social-signin.google {
  background: #DD4B39;
}
/*end login register page css */


/*Faq page css Ankita*/
.faq .faqHeader {
    font-size: 25px;
    margin: 20px;
}

.faq .panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
/*    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); */
}

.faq .panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
/*    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); */
    color: #454444;
}

.faq.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
}
.faq .panel-body{letter-spacing: 0.9px !important;}
/*end faq page design*/
 .cl-black{
     color: #000!important;
 }
 .invo{
    border: 1px solid #b1b1b1;
    padding: 30px 10px;
    border-radius: 3px;
 }
 .prod_weight
 {
    /*padding: 10px;
    border: 1px solid #565656;
    border-radius: 3px;
    margin-left: 10px;
    float: left;*/

}
.prod_weight {
  background: none;
  border: none;
  outline: none !important;
}
.select_kg {
border: 1px solid #898989;
float: left;
/* margin-left: 15px; */
border-radius: 3px;
padding: 9px;
}
.product_qty
{
    margin: 0;
    width: 50px;
    display: block;
    text-align: center;
    border: 1px solid #565656;
    padding: 10px;
    border-radius: 3px;
    float: left;
    margin-left: 45px;
    margin-top: 1px;
}
.prod-qty {
    color: #db0044;
}
.cl-wt,.cl-wt:hover{
  color: #FFF;
  text-decoration: none;
}
.tbl-clr
{
    color: #111;
}

/* contact form css ankita*/

.form-effect.up-page .up-form {
  /*padding-top: 40px*/
}

.form-effect .form-effect-group {
  position: relative
}

.form-effect .form-effect-group label {
  background-color: transparent;
  position: absolute;
  color: #343434;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: .3s;
  top: 50%;
  padding-left: 5px;
  cursor: text
}

.form-effect .form-effect-group .pad-date {
  padding: 5px 0
}

.form-effect .form-effect-group input,
.form-effect .form-effect-group textarea {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 0;
  transition: .5s
}

.form-effect .form-effect-group .psuedo-effect {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: #f89633;
  transition: .5s
}

.form-effect .form-effect-group.active textarea {
  border-bottom: 0
}

.form-effect .form-effect-group.active input[type=date]:before {
  color: #dc343c
}

.form-effect .form-effect-group.active .txt-area-label {
  transform: translateY(-38px);
  color: #dc343c;
  font-size: 12px
}

.form-effect .form-effect-group.active .input-label {
  transform: translateY(-24px);
  color: #dc343c;
  font-size: 12px
}

.form-effect .form-effect-group.active .psuedo-effect {
  width: 100%;
  left: 0
}

.default {
  overflow: auto
}

.default .up-form .form-data-container {
  padding: 10px 20px 20px 20px
}

.default .up-form .header-container {
  padding: 35px 10px 15px 10px;
  background-color: #dc343c;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  display: none;
}

.default .up-form .header-container:before {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, .2)), to(rgba(0, 0, 0, .2)));
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2))
}

.default .up-form .header-container .header-name {
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding: 15px
}

.default .up-form .header-container .up-user {
  padding: 7px 7px 4px 7px;
  background: #fff;
  color: #dc343c;
  border-radius: 25px
}

.default .up-form .form-container {
  margin: 0 auto;
  background: #fff;
  width: 100%;
  max-width: 700px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 4px #e2e2e2;
  border-radius: 3px
}

@media screen and (max-width:768px) {
  .default .up-form .form-container {
    width: 100%;
    box-sizing: border-box
  }
}

.default .up-form .form-container .grid-override {
  color: #f2f2f2;
  color: #515151;
  margin: 5px auto;
  font-size: 12px
}

.default .up-form .form-container .grid-override .error-message {
  margin-top: 10px;
  font-size: 12px
}

.simple_image {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box
}

.simple_image * {
  box-sizing: border-box
}

.simple_image img {
  width: 100%
}

.image_with_text {
  box-sizing: border-box
}

.image_with_text * {
  box-sizing: border-box
}

.image_with_text .img-cont {
  width: 40%;
  padding: 0 10px
}

.image_with_text .img-cont img {
  width: 100%
}

.image_with_text .img-text {
  padding: 10px;
  width: 60%;
  text-align: justify
}

@media screen and (max-width:768px) {
  .image_with_text .img-cont,
  .image_with_text .img-text {
    width: 100%
  }
  .image_with_text .img-text {
    padding: 10px 0
  }
}

.header_4 {
  font-size: 24px;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  overflow: auto
}

.header_4 * {
  box-sizing: border-box
}

.header_4 .addon-style {
  position: relative;
  padding-right: 5px;
  display: inline-block
}

.header_4 .addon-style:before {
  content: '';
  position: absolute;
  left: 100%;
  width: 5000%;
  height: 1px;
  bottom: 5px;
  background-color: currentColor
}

/* end contact form css*/

/** new contact form
--------------------------**/
.contact_form input{
      width: 100%;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #000;
    outline: none;
}
.contact_form textarea{
      width: 100%;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #000;
    outline: none;
}
.contact_form input[type="submit"]{
    width: 250px;
    background: #be373e;
    border-radius: 3px;
    border: none;
    color: #fff;
    margin: 0 auto;
    display: block;
    margin: 20px auto;
}

/** custom css 22-8-2018
----------------------**/
.out_of_stock button{
      background-color: #f79633;
    border-radius: 3px;
    letter-spacing: 1px;
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    padding: 10px 18px;
    text-decoration: none !important;
    text-transform: uppercase;
    border: none;
    /* margin:30px 0; */
    margin: 60px 0 0;
}
.detail-box {
    padding: 20px 0;
    min-height: 205px;
}

.title_img img{
    margin-bottom:  20px;
    max-width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px
}
.prod-title{
  color: #000;
  text-align: center;
}
.checkoutpage .items{
  border:1px solid gainsboro;
}
.checkoutpage .items .item .item-price {
    text-align: center;
    vertical-align: top !important;
    width: 105px;
}
.checkoutpage .items .item-inner {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}
.checkoutpage .item:last-child .item-inner{
  border-bottom: none;
}

.card {
     margin-top: initial !important;
    box-sizing: border-box;
    border-radius: 5px;
    /* background-clip: padding-box; */
     background-color: transparent !important;
    border: 1px solid #e40046 !important;
    margin-bottom: 25px;
}
.card .card-image {
    position: relative;
    overflow: hidden;
    background: #e40046;
    margin-top: 0;
    border-radius: 3px 2px 0px 0px;
}
.step-3{
  background: whitesmoke;
}
.card .card-action a {
    color: #fff !important;
    margin-right: 0px !important;
    transition: color 0.3s ease;
    text-transform: uppercase;
    border: 1px solid;
    padding: 10px;
    border-radius: 3px;
    display: block;
    text-align: center;
    background: #f79633;
    margin: 0 auto;
}
.invoice_table{
  margin-top: 20px;
  background: whitesmoke;
}
.invoice_table>tbody>tr>td, .invoice_table>tbody>tr>th, .invoice_table>tfoot>tr>td, .invoice_table>tfoot>tr>th, .invoice_table>thead>tr>td, .invoice_table>thead>tr>th {
    padding: 14px;
     line-height: initial !important;
    vertical-align: top;
    border: 1px solid #a8a8a8;
    text-align: center;
}
.invoice_table td.text-right {
    text-align: right !important;
}
.noborder{
  border:none !important;
  background: #fff;
}

.nav-tabs{
  border:none;
  margin-bottom: 30px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #dc343c;
    border: 1px solid #dc343c;
    border-bottom-color: transparent;
    border-radius: 0px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
}
.form-control {
    display: block;
    width: 100%;
    height: initial;
    padding: 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.registeruser{
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.razor_pay {
    border: none;
    background: #d33135;
    padding: 10px 25px;
    border-radius: 3px;
    color: #fff;
}

/*----------------------- mobile search css starts here---------------------- */
.search-container-mobile, .mobile-custom-search{
  display: none;
}
.vs-slider {
        user-select: initial !important;
    touch-action: unset !important;
    -webkit-user-drag: element !important;
}
.product {
    min-height: 469px;
}
.desktop-hide{
  display: none !important;
}
.vs-slider, .vs-section {
  /*overflow-x: scroll;
  overflow-y: scroll;*/

  -ms-overflow-style: none;

  -ms-scroll-chaining: none;

  -ms-scroll-snap-type: mandatory;

  -ms-scroll-snap-points-x: snapInterval(0%, 20%, 40%, 60%, 80%, 100%);

}

.vs-slider {
touch-action: initial !important;
-ms-touch-action: initial !important;
touch-action: initial !important;
height: 100%;
/*overflow-y: scroll;*/
}
li.layer {
    z-index: -1;
    position: relative;
}

@media(max-width: 1024px){
  .search-bar {
    width: calc(100% - 700px);
  }
  .navbar-header {
    width: 20%;
    float: left;
  }
  a.navbar-brand img {
    width: 100%;
  }
  .static_page, img.bannerimage.img-responsive {
    margin-top: 40px !important;
  }
  .product-list-page .product-listing{
    width: 100%;
    padding: 0px;
  }
  .product-list-page .product-listing .col-sm-4.product {
    padding: 0px;
  }
  .steps {
    padding-top: 50px;
  }
}

@media(max-width: 768px){
  /*.search-container-mobile {

          height: 47px !important;
    display: block;
  }

  .search-container-mobile input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    font-size: 15px;
  }
  .search-container-mobile input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
  .search-container-mobile input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  .search-container-mobile input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  .search-container-mobile input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }

  .search-container-mobile .search-icon {
            position: relative;
    float: right;
    width: 50px;
    height: 40px;
    top: -43px;
    right: -53px;
  }
  ul.subheaderproductpage {
    width: 100%;
  }*/
  .productsheader.clearfix {
     display: flow-root;
    width: 100%;
  }
  .subheaderproductpage {
    overflow-y: initial;
  }


  .mobile-custom-search {
    margin: 0px;
    width: 100%;
    display: block;
        margin-bottom: 5px;
  }
  .mobile-custom-search li.search-li {
      width: 100%;
      margin: 0px;
  }
  .mobile-custom-search #search_con {
      border: 1px solid #D42427;
      width: 100%;
      border-radius: 50px;
      padding: 10px;
      font-size: 13px;
  }
  .mobile-custom-search button.btn.search__btn {
      margin: 2px 8px;
  }
  .navbar-header {
      width: 100%;
      float: none;
  }
  img.mobile-banner {
    width: 100%;
  }
  .product_qty {
      width: 40px;
      padding: 10px 0px;
      font-size: 12px;
      font-weight: 700;
  }
  .select_kg {
    font-size: 13px;
    font-weight: 600;
    margin-left: 3px;
  }
  .product {
    min-height: 460px;
  }
  .desktop-hide{
    display: block !important;
  }
  .checkoutpage.login-page {
    padding: 0px 25px;
  }
}

@media(max-width: 600px){
  input.product_qty {
    margin-left: 30% !important;
  }
}

@media(max-width: 460px){
  input.product_qty {
    margin-left: 20% !important;
  }
}
@media (max-width: 375px){
  input.product_qty {
      margin-left: 15% !important;
  }
  input.new_qua{
    margin-left: 0%!important
  }
  .new_kg{
    margin-left:0px;
  }
}
@media (max-width: 320px){
  input.product_qty {
      margin-left: 10% !important;
  }
  input.new_qua{
    margin-left: 0%!important
  }
   .new_kg{
    margin-left:0px;
  }
}

/*#mobile-search input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#mobile-search input[type=search]:hover {
  background-color: #fff;
}
#mobile-search input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#mobile-search input:-moz-placeholder {
  color: transparent;
}
#mobile-search input::-webkit-input-placeholder {
  color: transparent;
}
#mobile-search input {
  outline: none;
}
#mobile-search input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
#mobile-search input::-webkit-search-decoration,
#mobile-search input::-webkit-search-cancel-button {
  display: none;
}


#mobile-search input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;

      margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 15px;
    padding: 6px 6px 6px 0px;
    width: 60%;
}
#mobile-search input[type=search]:focus {
  width: auto;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#mobile-search input:-moz-placeholder {
  color: #999;
}
#mobile-search input::-webkit-input-placeholder {
  color: #999;
}*/

/*product page css*/
.product-detail{
    color:#000;
}
.product_detail_section{
  padding: 100px 0px;
}
h1.product_name{
  margin-bottom: 20px;
}
.add-qty{
  width: 113px;
  padding-top: 20px;
}
.pd_num{
  padding: 6px 12px 5px;
  text-align: center;
}
.global-button{
  margin: 20px 0px;
}
.add-qty .btn-default:hover{
  background-color:#fff;
}

/*store locator div css*/
.store-locator-main-wraper {
	text-align: center
}

.store-locator-main-wraper h3 {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 14px
}

.store-locator-main-wraper p {
	margin-bottom: 0;
	width: 513px;
	margin: 0 auto
}

.store-locator-main-wraper p.stores-bold-p {
	font-weight: 500;
	margin-bottom: 30px
}

.store-locator-main-wraper .store-map-wraper iframe {
	width: 100%
}

.store-locator-inner-main-wrap {
	margin-top: 50px
}

.store-locator-inner-main-wrap h4 {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: .3px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	color: #000;
	padding-bottom: 15px;
	margin-bottom: 20px
}

.store-locator-inner-main-wrap .row.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap {
	/* border: 1px solid #ddd;
	border-left: 0;
	border-bottom: 0;
	padding: 30px;
	border-top: 0 */
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap .location-icon-store-name {
	display: inline-block;
	width: 100%
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap .location-icon-store-name img {
	display: inline-block;
	float: left
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap .location-icon-store-name strong {
	display: inline-block;
	float: left;
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: .3px;
	text-align: left;
	color: #000;
	position: relative;
	left: 16px;
	top: -4px;
	width: 80%
}

.store-locator-inner-main-wrap {
    margin-top: 50px;
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap .address-wrap p {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
	color: #3c3c3c;
	margin-bottom: 0
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap .address-wrap p a {
	font-weight: bold;
	display: inline-block;
	color: #f89633;
	width: 100%;
	margin-top: 5px
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap:nth-child(n+4) {
	/* border-top: 1px solid #ddd */
}

.store-locator-inner-main-wrap .row.row-eq-height .store-address-main-wrap:nth-child(3n) {
	border-right: 0
}

.store-address-inner-wrap {
    padding: 30px;
    background: rgba(220, 220, 220, 0.1411764705882353);
    box-shadow: 0px 3px 8px #bdb2b2;
    margin-bottom: 30px;
}


/*end store locator css/
